<!-- cargar los patch a su staticos
-->
<title>
    CMPlayList
</title>


{% extends 'MyMusic/plantilla.html' %}
{% block canciones_active %}active{% endblock %}

{% block body %}
<div class="container-fluid canciones-container">
    <div class="row">
        <div >

            <div class="center-block">
                <ul class="nav text-center" style="margin-bottom: 10px;">
                    <li role="presentation" ><a> <h2 style="font-family: 'Kaushan Script', cursive; text-transform: uppercase;">{{ username }}</h2> </a></li>
                </ul>
            </div>

            {% if canciones %}
            <div class="panel panel-default">
                <div class="panel-body">

                   <h2 class="text-center" style="text-transform: capitalize">canciones</h2>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Artista</th>
                            <th>Archivo de audio</th>
                            <th>Calificacion</th>
                            <th>Subido por</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in canciones %}
                            {% with cali=song.calificacion_set.filter user_calificador=username %}
                            <tr>
                                <td> &nbsp;&nbsp;{{ song.titulo_cancion }}</td>
                                <td>&nbsp;&nbsp;{{ song.artista }}</td>
                                <td>&nbsp;&nbsp;
                                    <a target="_blank" href="{{ song.audio.url }}">
                                        <button type="button" class="btn btn-success btn-xs ">
                                               <span class="glyphicon glyphicon-play">&nbsp;Play</span>
                                        </button>
                                     </a>
                                </td>
                                <td>
                                    {% if cali %}
                                         <abbr title="Gracias por calificar">

                                         {% for elem in cali%}
                                             {% for i in elem.rating_s %}
                                                 <span class="glyphicon glyphicon-star"></span>
                                             {% endfor %}
                                         {% endfor %}
                                         </abbr>
                                    {% else %}
                                        <div>  </div>
                                        <abbr title="Califica esta canción" id="cancion{{ song.id }}">
                                        {% for i in "cinco" %}
                                           <a href="{% url 'MyMusic:ratin_cancion' forloop.counter song.id %}" class="btn-canciones" >
                                               <span class="glyphicon glyphicon-star-empty"> </span>
                                           </a>
                                        {% endfor %}
                                        </abbr>
                                    {% endif %}

                                </td>
                                <td>
                                   &nbsp;&nbsp; {{ song.user.username }}

                                </td>
                                <td>
                                    {% if song.user.username == username %}
                                    <form action="{% url 'MyMusic:eliminar_cancion' song.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <abbr title="Eliminar Canción">
                                            <button type="submit" class="btn btn-danger btn-xs   ">
                                                <span class="glyphicon glyphicon-remove"> </span>&nbsp; Eliminar
                                            </button>
                                        </abbr>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        {% else %}
            <div class="col-centered">
                <h3>No se encontraron canciónes </h3>
            </div>
        {% endif %}
            <div class="col-centered">

                <a href="{% url 'MyMusic:cancion-add' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Añadir Canción
                    </button>
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}



