<!-- cargar los patch a su staticos
-->
<title>
    CMPlaylist-Detalles Lista
</title>


{% extends 'MyMusic/plantilla.html' %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="center-block">
                <ul class="nav text-center" style="margin-bottom: 10px;">
                    <li role="presentation" ><a> <h2 style="font-family: 'Kaushan Script', cursive; text-transform: uppercase;">{{ username }}</h2> </a></li>

                </ul>
            </div>
            <div class="panel panel-collapse ">
                <div class="panel-default">
                   <h2 class="text-center" style="text-transform: capitalize"> {{ lista.titulo_de_lista }}</h2>

                    <div class="text-center">
                        <audio src="" controls id="audioPlayer" >
                            Lo sentimos tu navegador no soporta el reproductor de audio
                        </audio>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-transform: capitalize">Nombre</th>
                                <th hstyle="text-transform: capitalize">Artista</th>
                                <th>Archivo de audio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="list_can">
                        {% for cancion in lista.canciones.all %}

                            <tr >
                                <td style="text-transform: capitalize"> &nbsp;&nbsp;{{ cancion.titulo_cancion }}</td>
                                <td style="text-transform: capitalize">&nbsp;&nbsp;{{ cancion.artista }}</td>
                                <td id="boplay" class="tdcan">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a  href="{{ cancion.audio.url }} " id="can{{ forloop.counter }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play">&nbsp;</span>Play
                                        </button>
                                    </a>
                                </td>

                                <td>

                                    <a href="{% url 'MyMusic:borrar_cancion_lista' lista.id cancion.id %}">
                                        <abbr title="Eliminar Canción">
                                            <button type="submit" class="btn btn-danger btn-xs   ">
                                                <span class="glyphicon glyphicon-remove"> </span>&nbsp; Eliminar
                                            </button>
                                        </abbr>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                    <div class="col-centered">
                        <a href="{% url 'MyMusic:editar_list' lista.id %}">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;Añadir/Editar lista
                            </button>
                        </a>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}