<!-- cargar los patch a su staticos
-->
<title>
    CMPlaylist-Listas
</title>

{% extends 'MyMusic/plantilla.html' %}
{% block listas_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="center-block">
                <ul class="nav text-center" style="margin-bottom: 10px;">
                    <li role="presentation" ><a> <h2 style="font-family: 'Kaushan Script', cursive; text-transform: uppercase;">{{ username }}</h2> </a></li>

                </ul>

            </div>
            {% if listas %}
                <h3 class="text-center " id="str1" style="text-transform: uppercase">Listas de Reproduccíon</h3>

                {% for lista in listas %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="thumbnail">

                            <div class="caption">
                                <a href="{% url 'MyMusic:lista_detallada' lista.id %}">
                                    <h2 style="text-transform: capitalize" class="bg-info text-center">{{ lista.titulo_de_lista }}</h2>
                                </a>

                                <dl>
                                    {% for cancion in lista.canciones.all %}
                                       <dd> <h4 style="text-transform: capitalize">-{{ cancion.titulo_cancion}}</h4></dd>
                                    {% endfor %}
                                </dl>
                                 <!-- Delete Cancion -->
                                <form action="{% url 'MyMusic:eliminar_lista' lista.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="cancion_id" value="{{ lista.id }}" />
                                    <abbr title="Eliminar lista">
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </abbr>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                 <div class="panel-heading">
                     <h3>No tienes listas de reproducción</h3>
                </div>
            {% endif %}
            {% if  canciones %}
                <div class="col-sm-12">
                    <br>
                    <a href="{% url 'MyMusic:lista-add' %}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Crear Nueva lista
                        </button>
                    </a>
                </div>
            {% else %}
                 <div class="panel-heading">
                     <h3> Para crear listas una debes tener canciones registradas</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}